body{
    background-color: #BDA2D5;
}

header{
    background-color: #FA0000;
    width: 20.375rem;
    height: 9.875rem;
    border-radius: 2.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
}

h1{
    color: #FF9900;
    font-family: "Inter";
    text-align: center;
}

.directions-list{
    background-color: #FAA500;
    width: 20.375rem;
    height: 26.438rem;
    border-radius: 2.188rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

li{
    font-size: 0.781rem;
    font-family: "Inter";
    color: #FFFFFF;
    width: 15rem;
    margin: 0.1rem 0;
}

img{
    display: none;
}

@media (min-width: 800px){
    body{
        background-color: #BDA2D5;
    }
    
    header{
        background-color: #FA0000;
        width: 70rem;
        height: 9.875rem;
        border-radius: 2.188rem;
        display: flex;
        justify-content: center;    
        align-items: center;
        margin: 1.5rem auto;  
    }
    
    h1{
        color: #FF9900;
        font-family: "Inter";
        text-align: center;
        font-size: 5rem;
        width: 100rem;
    }
    
    .directions-list{
        background-color: #FAA500;
        width: 70rem;
        height: 35rem;
        border-radius: 2.188rem;
        display: flex;
        justify-content: center;
        margin: 10rem auto;
    }
    
    li{
        font-size: 1.7rem;
        font-family: "Inter";
        color: #FFFFFF;
        width: 60rem;
        list-style-position: inside;
    }

    img{
        display: block;
        width: 70rem;
        height: 50rem;
        margin: -31.5rem 76rem;
        position: relative;
        z-index: -1;
    }
}